<div class="serveinfo">
    <p><h2>服务器:{{realmname}}</h2><p><br>
    <p>状态: {{realmstatus}}<p>
    <br>
    服务器: {{uptime}}
    <br>
    总账号: {{accounts}}
    <br>
    总角色: {{totalchars}}
    
    <br><br><br>
    {{serveinfoMessage}}
</div>

<div class="downloadmsg">
    <p>下载安装游戏</p>
        <p><a href="https://pan.baidu.com/s/1PAkAmw2UYl1nA4gskDlzFQ">下载TBC2.4.3客户端(百度网盘)</a></p>
        <p><span class="red">提取码: aied</span></p>
        <p>解压客户端，并<a href="http://119.29.170.42/wow/realmlist.wtf"><span class="red">下载realmlist.wtf文件</span></a>覆盖到安装目录</p>
        <p>注册好账号，装好插件<a href="http://119.29.170.42/wow/BigFoot2.4.0056.rar"><span class="red">大脚2.4版本专用</span></a></p>
</div>

